footer{
    background-color: #724dc4;
    overflow-x: hidden;
    z-index: 11;
}
.f1{
    
    padding-right: 0px;
    padding-left: 0px;

}

.rowcontainer{
    padding-right: 0px;
    padding-left: 0px; 
    --bs-gutter-x: 0;  
}